@import './../../styles/variable.scss';
@import 'swiper/swiper.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';

.our-team {
	margin-top: 300px;

	@media (max-width: $large-x) {
		margin-top: 150px;
	}

	@media (max-width: $medium) {
		margin-top: 90px;
	}

	&__container-menu-n-content {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		box-sizing: border-box;

		@media (max-width: $lg) {
			flex-direction: column;
		}
	}

	&__menu {
		flex-shrink: 0;
		flex-basis: 15%;

		@media (max-width: $large) {
			margin-right: 25px;
			flex-basis: 20%;
		}

		@media (max-width: $lg) {
			margin-right: 0;
			position: relative;

			.our-team__wrap-arrow-svg {
				transition: transform 0.3s;
			}

			&._active {

				& .our-team__wrap-arrow-svg {
					transform: rotate(90deg);
				}

				& .our-team__box-menu {
					display: block;
				}

			}
		}
	}

	&__services-now {
		cursor: pointer;
		display: none;

		@media (max-width: $lg) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__name-services {
		font-weight: 800;
		font-size: 12px;
		line-height: 28px;
		border-left: 4px solid $palette-black-primary;
		padding-left: 15px;
	}

	&__wrap-arrow-svg {
		transform: rotate(0deg);
	}

	&__box-menu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: $lg) {
			display: none;
			box-sizing: border-box;
			padding: 15px;
			position: absolute;
			top: 45px;
			left: 0;
			right: 0;
			z-index: 100;
			border: 1px solid $palette-gray-primary;
			background-color: $palette-white-primary;
		}
	}

	&__menu-btn {
		width: 100%;
		font-weight: 500;
		font-size: 12px;
		line-height: 28px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 15px;
		transition: padding 0.3s, border 0.3s;

		svg {
			display: none;
		}

		&:not(:last-child) {
			margin-bottom: 15px;

			@media (max-width: $lg) {
				margin-bottom: 0;
			}
		}

		&:hover {
			font-weight: 800;
			border-left: 4px solid $palette-black-primary;
			padding-left: 15px;

			svg {
				display: block;
			}

			@media (max-width: $lg) {
				border: none;
				padding: 0;

				svg {
					display: none;
				}
			}
		}

		&._active {
			font-weight: 800;
			border-left: 4px solid $palette-black-primary;
			padding-left: 15px;

			svg {
				display: block;
			}

			@media (max-width: $lg) {
				border: none;
				padding: 0;

				svg {
					display: none;
				}
			}
		}
	}

	&__box-content {
		width: 65%;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: $large-x) {
			width: 78%;
		}

		@media screen and (max-width: $lg) {
			width: 100%;
			margin-top: 70px;
		}
	}

	&__box-team {
		display: none;

		&._active {
			display: block;
		}
	}

	&__box-all-sliders {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		@media screen and (max-width: $medium) {
			flex-direction: column;
		}
	}

	&__box-slider-large-n-btns {
		width: 60%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 20px;

		@media screen and (max-width: $large-x) {
			width: 80%;
		}

		@media screen and (max-width: $medium) {
			width: 100%;
			flex-direction: column;
			justify-content: start;
			align-items: flex-end;
			margin-right: 0;
			order: 0;
		}
	}

	&__box-btn {
		width: 10%;
		height: 60px;

		&:first-child {
			@media screen and (max-width: $medium) {
				display: none;
			}
		}

		&:last-child {
			@media screen and (max-width: $medium) {
				margin-top: 10px;
			}
		}

		&._btn-hide {
			svg {
				path {
					fill: $palette-gray-primary;
				}
			}
		}
	}

	&__box-slider-large {
		width: 78%;
		overflow: hidden;

		@media screen and (max-width: $medium) {
			width: 100%;
		}
	}

	&__person-l-img {
		width: 100%;
		height: auto;
	}

	&__box-min-img {
		width: 10%;
		display: flex;
		align-items: flex-end;

		@media screen and (max-width: $lg) {
			width: 15%;
		}

		@media screen and (max-width: $medium) {
			width: 25%;
			margin-top: 35px;
			order: 2;
		}
	}

	&__slider-min {
		margin-bottom: 40px;
		overflow: hidden;

		@media screen and (max-width: $medium) {
			margin-bottom: 0;
		}
	}

	&__el-slider-min-slide {
		cursor: pointer;
	}

	&__person-desc-min {
		font-weight: 800;
		margin-bottom: 5px;
	}

	&__person-min-img {
		width: 100%;
		height: auto;
		filter: grayscale(100);
		box-shadow: 0px 16px 24px -24px #000000, 0px 24px 48px -24px rgba(0, 0, 0, 0.8);
	}

	&__box-text-slider {
		width: 60%;
		margin-top: 40px;
		overflow: hidden;

		@media screen and (max-width: $large-x) {
			width: 80%;
		}

		@media screen and (max-width: $medium) {
			width: 100%;
			margin-top: 10px;
			order: 1;
		}
	}

	&__text-slider {
		width: 78%;
		padding: 0 11%;

		@media screen and (max-width: $medium) {
			width: 100%;
			padding: 0;
		}
	}

	&__person-name {
		margin-bottom: 15px;
		font-weight: 800;
		font-size: 16px;
		line-height: 1.5;
	}

	&__person-desc {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.5;

		p:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__person-position {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 14px;
		color: $palette-gray-primary;
	}

	&__person-social {
		display: flex;
	}

	&__box-social {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	// box cards

	&__box-cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__box-card {
		flex: 0 1 25%;

		@media screen and (max-width: $lg) {
			flex: 0 1 50%;
		}

		&._active {
			flex: 0 1 40%;

			@media screen and (max-width: $lg) {
				flex: 0 1 100%;
				order: -1;
			}

			.our-team__box-card-person-img {
				width: 200px;
				height: 200px;
			}

			.our-team__el-card-btn {
				display: none;
			}

			.our-team__el-card-all-text {
				opacity: 1;
				overflow: visible;
				transition: opacity 0.6s 0.6s;
			}
		}
	}

	&__el-card-inner {
		max-height: 250px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__el-img-n-arrow {
		display: flex;
		align-items: center;
	}

	&__box-card-person-img {
		width: 85px;
		height: 85px;
		margin-right: 10px;
		transition: width 0.6s, height 0.6s;
	}

	&__el-card-img {
		width: 100%;
		height: 100%;
		border-radius: 100%;
		object-fit: cover;
		object-position: top center;
	}

	&__el-card-btn {
		width: 25px;
		height: 25px;
	}

	&__el-person-name {
		margin-top: 25px;
		font-weight: 700;
	}

	&__el-card-all-text {
		overflow: hidden;
		opacity: 0;
	}

	&__el-card-desc {
		margin-top: 15px;

		p:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__el-card-person-position {
		margin-top: 15px;
		color: $palette-gray-primary;
	}

	&__el-card-person-social {
		display: flex;
		margin-top: 25px;
	}
}