@import './../../styles/variable.scss';
@import 'swiper/swiper.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';

.our-team {
	margin-top: 300px;

	@media (max-width: $large-x) {
		margin-top: 150px;
	}

	@media (max-width: $medium) {
		margin-top: 90px;
	}

	&__container-menu-n-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin-top: 40px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		@media (max-width: $lg) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
		}
	}

	&__menu {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		-ms-flex-preferred-size: 15%;
		flex-basis: 15%;

		@media (max-width: $large) {
			margin-right: 25px;
			-ms-flex-preferred-size: 20%;
			flex-basis: 20%;
		}

		@media (max-width: $lg) {
			margin-right: 0;
			position: relative;
		}
	}

	&__services-now {
		cursor: pointer;
		display: none;

		@media (max-width: $lg) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			svg {
				-webkit-transition: -webkit-transform 0.3s;
				transition: -webkit-transform 0.3s;
				-o-transition: transform 0.3s;
				transition: transform 0.3s;
				transition: transform 0.3s, -webkit-transform 0.3s;
			}

			&.active {
				svg {
					-webkit-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					transform: rotate(90deg);
				}

				&~&__box-menu {
					display: block;
				}
			}
		}
	}

	&__name-services {
		font-weight: 800;
		font-size: 12px;
		line-height: 28px;
		border-left: 4px solid $palette-black-primary;
		padding-left: 15px;
	}

	&__wrap-arrow-svg {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	&__box-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;

		@media (max-width: $lg) {
			display: none;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 15px;
			position: absolute;
			top: 45px;
			left: 0;
			right: 0;
			z-index: 100;
			border: 1px solid $palette-gray-primary;
			background-color: $palette-white-primary;


			&[data-state="active"] {
				display: block;
			}
		}
	}

	&__menu-btn {
		width: 100%;
		font-weight: 500;
		font-size: 12px;
		line-height: 28px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-right: 15px;
		-webkit-transition: padding 0.3s, border 0.3s;
		-o-transition: padding 0.3s, border 0.3s;
		transition: padding 0.3s, border 0.3s;

		svg {
			display: none;
		}

		&:not(:last-child) {
			margin-bottom: 15px;

			@media (max-width: $lg) {
				margin-bottom: 0;
			}
		}

		&:hover {
			font-weight: 800;
			border-left: 4px solid $palette-black-primary;
			padding-left: 15px;

			svg {
				display: block;
			}

			@media (max-width: $lg) {
				border: none;
				padding: 0;

				svg {
					display: none;
				}
			}
		}

		&._active {
			font-weight: 800;
			border-left: 4px solid $palette-black-primary;
			padding-left: 15px;

			svg {
				display: block;
			}

			@media (max-width: $lg) {
				border: none;
				padding: 0;

				svg {
					display: none;
				}
			}
		}
	}

	&__box-content {
		width: 65%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

		@media screen and (max-width: $large-x) {
			width: 78%;
		}

		@media screen and (max-width: $lg) {
			width: 100%;
			margin-top: 70px;
		}
	}

	&__box-all-sliders {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		@media screen and (max-width: $medium) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
		}
	}

	&__box-slider-large-n-btns {
		width: 60%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-right: 20px;

		@media screen and (max-width: $large-x) {
			width: 80%;
		}

		@media screen and (max-width: $medium) {
			width: 100%;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: start;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			margin-right: 0;
			-webkit-box-ordinal-group: 1;
			-ms-flex-order: 0;
			order: 0;
		}
	}

	&__box-btn {
		width: 10%;
		height: 60px;

		&:first-child {
			@media screen and (max-width: $medium) {
				display: none;
			}
		}

		&:last-child {
			@media screen and (max-width: $medium) {
				margin-top: 10px;
			}
		}

		&._btn-hide {
			svg {
				path {
					fill: $palette-gray-primary;
				}
			}
		}
	}

	&__box-slider-large {
		width: 78%;
		overflow: hidden;

		@media screen and (max-width: $medium) {
			width: 100%;
		}
	}

	&__person-l-img {
		width: 100%;
		height: auto;
	}

	&__box-min-img {
		width: 10%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;

		@media screen and (max-width: $lg) {
			width: 15%;
		}

		@media screen and (max-width: $medium) {
			width: 25%;
			margin-top: 35px;
			-webkit-box-ordinal-group: 3;
			-ms-flex-order: 2;
			order: 2;
		}
	}

	&__slider-min {
		margin-bottom: 40px;
		overflow: hidden;

		@media screen and (max-width: $medium) {
			margin-bottom: 0;
		}
	}

	&__el-slider-min-slide {
		cursor: pointer;
	}

	&__person-desc-min {
		font-weight: 800;
		margin-bottom: 5px;
	}

	&__person-min-img {
		width: 100%;
		height: auto;
		-webkit-filter: grayscale(100);
		filter: grayscale(100);
		-webkit-box-shadow: 0px 16px 24px -24px #000000, 0px 24px 48px -24px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 16px 24px -24px #000000, 0px 24px 48px -24px rgba(0, 0, 0, 0.8);
	}

	&__box-text-slider {
		width: 60%;
		margin-top: 40px;
		overflow: hidden;

		@media screen and (max-width: $large-x) {
			width: 80%;
		}

		@media screen and (max-width: $medium) {
			width: 100%;
			margin-top: 10px;
			-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
			order: 1;
		}
	}

	&__text-slider {
		width: 78%;
		padding: 0 11%;

		@media screen and (max-width: $medium) {
			width: 100%;
			padding: 0;
		}
	}

	&__person-name {
		margin-bottom: 15px;
		font-weight: 800;
		font-size: 16px;
		line-height: 1.5;
	}

	&__person-desc {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.5;

		p:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__person-position {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 14px;
		color: $palette-gray-primary;
	}

	&__person-social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	&__box-social {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}