@import './../../styles/variable.scss';

.footer {
	margin-top: 300px;
	padding: 70px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: $large-x) {
		margin-top: 160px;
	}

	@media screen and (max-width: $medium) {
		flex-direction: column;
		justify-content: start;
		padding: 40px;
	}

	&__copyright {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;

		&--bold {
			font-weight: 700;
		}

		@media screen and (max-width: $medium) {
			margin-bottom: 30px;
			text-align: center;
		}
	}

	&__container-social {
		display: flex;
	}

	&__link-social {
		svg {
			path {
				transition: fill 0.3s;
			}
		}

		&:not(:last-child) {
			margin-right: 25px;
		}

		&:hover {
			svg {
				path {
					fill: $palette-blue-primary;
				}
			}
		}
	}

	&__box-social {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}