@import './../../styles/variable.scss';

.our-services {
	margin-top: 300px;

	@media (max-width: $large-x) {
		margin-top: 150px;
	}

	@media (max-width: $medium) {
		margin-top: 90px;
	}
}

.our-services__container-menu-n-content {
	margin-top: 80px;
	display: flex;

	@media (max-width: $lg) {
		flex-direction: column;
	}
}

.our-services__menu {
	flex-shrink: 0;
	flex-basis: 15%;

	@media (max-width: $large) {
		margin-right: 25px;
		flex-basis: 20%;
	}

	@media (max-width: $lg) {
		margin-right: 0;
		position: relative;
	}
}

.our-services__services-now {
	cursor: pointer;
	display: none;

	@media (max-width: $lg) {
		display: flex;
		justify-content: space-between;
		align-items: center;

		svg {
			transition: transform 0.3s;
		}

		&.active {
			svg {
				transform: rotate(90deg);
			}

			&~.our-services__box-menu {
				display: block;
			}
		}
	}
}


.our-services__name-services {
	font-weight: 800;
	font-size: 12px;
	line-height: 28px;
	border-left: 4px solid $palette-black-primary;
	padding-left: 15px;
}

.our-services__wrap-arrow-svg {
	transform: rotate(0deg);
}

.our-services__box-menu {
	display: flex;
	flex-direction: column;
	align-items: start;

	@media (max-width: $lg) {
		display: none;
		position: absolute;
		top: 45px;
		left: 0;
		right: 0;
		padding: 15px;
		z-index: 100;
		border: 1px solid $palette-gray-primary;
		background-color: $palette-white-primary;

		&[data-state="active"] {
			display: block;
		}
	}
}

.our-services__menu-btn {
	width: 100%;
	font-weight: 500;
	font-size: 12px;
	line-height: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
	transition: padding 0.3s, border 0.3s;

	svg {
		display: none;
	}

	&:not(:last-child) {
		margin-bottom: 15px;

		@media (max-width: $lg) {
			margin-bottom: 0;
		}
	}

	&:hover {
		font-weight: 800;
		border-left: 4px solid $palette-black-primary;
		padding-left: 15px;

		svg {
			display: block;
		}

		@media (max-width: $lg) {
			border: none;
			padding: 0;

			svg {
				display: none;
			}
		}
	}

	&._active {
		font-weight: 800;
		border-left: 4px solid $palette-black-primary;
		padding-left: 15px;

		svg {
			display: block;
		}

		@media (max-width: $lg) {
			border: none;
			padding: 0;

			svg {
				display: none;
			}
		}
	}
}

// ds

.our-services__el-content {
	display: none;

	&[data-state="active"] {
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: $large) {
		flex-direction: column;
	}

	@media (max-width: $lg) {
		margin-top: 45px;
	}
}

.our-services__box-text {
	flex-basis: 28%;

	@media (max-width: $large) {
		flex-basis: auto;
		width: 50%;
	}

	@media (max-width: $lg) {
		width: auto;
	}
}

.our-services__desc-service {
	margin-top: 35px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: $palette-gray-primary;
}

.our-services__link-example {
	display: block;
	margin-top: 35px;
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
	color: $palette-blue-primary;
}

.our-services__container-promo-img-n-recent-work-n-btn {
	flex-basis: 70%;
	display: flex;
	justify-content: space-between;

	@media (max-width: $large) {
		margin-top: 35px;
	}

	@media (max-width: $medium) {
		flex-direction: column;
	}
}

.our-services__wrap-promo-img {
	flex: 0 1 55%;
}

.our-services__promo-img {
	max-width: 100%;
	height: 100%;
	object-position: center;

	@media (max-width: $medium) {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}

.our-services__box-recent-work-n-btn {
	flex: 0 1 42%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;

	@media (max-width: $medium) {
		align-items: stretch;
		margin: 35px 0 0;
		flex-shrink: 1;
	}
}

.our-services__recent-head-text {
	margin-bottom: 35px;
}

.our-services__box-all-works {
	@media (max-width: $medium) {
		margin-bottom: 35px;
	}
}

.our-services__box-work {
	display: flex;
	align-items: flex-start;

	&:not(:first-child) {
		margin-top: 20px;
	}
}

.our-services__text-work {
	margin-top: 10px;
	margin-left: 15px;
}

.our-services__name-work {
	margin-bottom: 10px;
}

.our-services__order-btn {
	padding: 25px 45px;
	background-color: $palette-black-primary;
	display: flex;
	align-items: center;
	border: 1px solid $palette-black-primary;
	transition: background 0.3s;

	@media (max-width: $medium) {
		justify-content: center;
	}

	&:hover {
		background-color: transparent;
	}

	&:hover svg {
		path {
			fill: $palette-black-primary;
		}
	}
}

.our-services__order-text-btn {
	color: $palette-white-primary;
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
	margin-right: 10px;

	.our-services__order-btn:hover & {
		color: $palette-black-primary;
	}
}

.a {
	margin-top: 15px;
	padding: 15px;
	background-color: tomato;
	color: silver;
}