@import './font.scss';
@import './variable.scss';

* {
	margin: 0;
	padding: 0;
	font-family: $font;
}

body {
	color: $palette-black-primary;
}

.wrapper {
	padding: 0 104px;

	@media (max-width: 1400px) {
		padding: 0 30px;
	}
}

a {
	text-decoration: none;
	color: $palette-black-primary;
}

h1 {
	font-size: 48px;
	font-weight: 800;
	line-height: 52px;
}

h2 {
	font-size: 36px;
	font-weight: 800;
	line-height: 42px;
}

h3 {
	font-size: 20px;
	font-weight: 800;
	line-height: 28px;
}

h4 {
	font-size: 14px;
	font-weight: 800;
	line-height: 16px;
}


button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

input {
	border: none;

	&:focus {
		outline: none;
	}
}

textarea {
	border: none;

	&:focus {
		outline: none;
	}
}

li {
	list-style-position: inside;
}