// font 
$font: 'Mulish';

// color
$palette-black-primary: #111111;

$palette-blue-primary: #2F80ED;

$palette-white-primary: #FFFFFF;

$palette-gray-primary: #828282;


//sizes
$small: 320px;
$medium: 768px;
$large: 1280px;
$large-x: 1600px;
$big: 1920px;